<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link charset="utf-8" href="css/clues.css" media="screen" rel="stylesheet" title="no title">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/ico">
    <title>Game Instructions</title>
</head>
<body>
    <h1 class="main-heading">Clues and Hints to Solve the Game</h1>

    <h3 class="clues-para">Following are some references you can see to solve the game :-</h3>

    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Hidden_object_game">What is a Hidden Object Game? (Wikipedia)</a></li>
        <br>
        <li><a href="https://www.aol.com/2009/07/28/tips-and-tricks-how-to-play-hidden-object-games/">How to play a Hidden Object Game? (Article)</a></li>
        <br>
        <li><a href="https://www.youtube.com/playlist?list=PL90DIWI4qjZu5qJAkEVJ1X0M3875rnCDA">Different examples of Hidden Object Games (Youtube Playlist)</a></li>
        <br>
        <li><a href="https://www.instagram.com/findhiddenobjects/?hl=en">A short and cool Hidden Object Game (Instagram Page)</a></li>
        <br>
        <li><a href="https://www.pinterest.com/gamezebo/hidden-object-games/">Photo examples of Hidden Object Games (Pinterest Album)</a></li>
    </ul>
</body>
</html>