<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link charset="utf-8" href="css/instruction-style.css" media="screen" rel="stylesheet" title="no title">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/ico">
    <title>Game Instructions</title>
</head>
<body>
    <h1 class="main-heading">Game Instructions</h1>

    <ul>
        <li>You have been given a list of different objects on the top of the screen.</li>
        <br>
        <li>You have also been presented with a scene.</li>
        <br>
        <li>You have to find the objects present in the list from the scene which has been given to you within a specific time limit.</li>
        <br>
        <li>You have been given a timer of 3 minutes. On the expiraton of the timer, the game will be over.</li>
        <br>
        <li>You have to select the objects from the scene with a mouse click.</li>
        <br>
        <li>As you keep on finding the objects from the scene, they will get ticked-off from the list.</li>
        <br>
        <li>You can navigate around the scene by using your mouse and trackpad.</li>
        <br>
        <li>Just hold the left click, then move around the scene using the trackpad.</li>
        <br>
        <li>You can also zoom in/out of the scene, by using the pinch expressions on your trackpad.</li>
    </ul>

    <a class="link-class play-button" style="--clr:#01fe87" href="/game"><span>Proceed</span></a>
    <a class="link-class clues-button" style="--clr:#01fe87" href="/clues"><span>Clues to Solve</span></a>

</body>
</html>