<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/table.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/ico">
    <title>Results</title>
</head>
<body>

    <h1 class="user-heading">Users Information</h1>
    <hr>
    <table>
        <tr id="header">
            <th>Email</th>
            <th>User ID</th>
        </tr>
        <tr>
            <td><%usersList.forEach(user => {%>
                <p><%= user.email %></p>
            <%})%></td>
            <td><%usersList.forEach(user => {%>
                <p><%= user._id %></p>
            <%})%></td>
        </tr>
    </table>

</body>
</html>